@charset "UTF-8";

.zsmc-bigger-120 {
      font-size: 120% !important;
}
.zsmc-bigger-140 {
      font-size: 140% !important;
}


.zsmc-margin-left-5 {
    margin-left: 5px
}

.zsmc-no-padding {
    padding: 0 !important;
}


/*table tr td .highlighted  {
    color:red !important;
}*/


.lookup-code {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.lookup-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.zsmc-box {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 3px 0;
    border: 1px solid #CCC;
}

.zsmc-header {
    min-height: 31px;
    padding-left: 10px;
}

.zsmc-color-dark {
    border-color: #5a5a5a;
}

.zsmc-color-dark > .zsmc-header {
    border-color: #666666;
    background: #404040;
}

.zsmc-color-dark > .zsmc-header > .zsmc-title {
    color: #FFF
}

.zsmc-header > .zsmc-toolbar {
    line-height: 29px;
}

.zsmc-toolbar {
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    float: right;
    position: relative;
}

.zsmc-header > .zsmc-toolbar > span {
    color:#FFF;
    cursor:pointer;
}

.zsmc-maxwidth-none {
    max-width: none;
}

.zsmc .fa-plus {
    color:#307ecc;
    cursor:pointer;
}
.zsmc .fa-pencil {
    color:#307ecc;
    cursor:pointer;
}
.zsmc .fa-trash {
    color:#DD5A43;
    cursor:pointer;
}

input[type=checkbox].zsmc,
input[type=radio].zsmc {
  opacity: 0;
  position: absolute;
  z-index: 1;
  width: 18px;
  height: 18px;
  cursor: pointer;
}
label input[type=checkbox].zsmc,
label input[type=radio].zsmc {
  z-index: -100 !important;
  width: 1px !important;
  height: 1px !important;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}
input[type=checkbox].zsmc:checked,
input[type=radio].zsmc:checked,
input[type=checkbox].zsmc:focus,
input[type=radio].zsmc:focus {
  outline: none !important;
}
input[type=checkbox].zsmc + .lbl,
input[type=radio].zsmc + .lbl {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 20px;
  min-height: 18px;
  min-width: 18px;
  font-weight: normal;
  cursor: pointer;
}
input[type=checkbox].zsmc + .lbl::before,
input[type=radio].zsmc + .lbl::before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #32a3ce;
  content: "\a0";
  background-color: #FAFAFA;
  border: 1px solid #c8c8c8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 0;
  display: inline-block;
  text-align: center;
  height: 16px;
  line-height: 14px;
  min-width: 16px;
  margin-right: 1px;
  position: relative;
  top: -1px;
}
input[type=checkbox].zsmc:checked + .lbl::before,
input[type=radio].zsmc:checked + .lbl::before {
  display: inline-block;
  content: '\f00c';
  background-color: #F5F8FC;
  border-color: #adb8c0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}
input[type=checkbox].zsmc:hover + .lbl::before,
input[type=radio].zsmc:hover + .lbl::before,
input[type=checkbox].zsmc + .lbl:hover::before,
input[type=radio].zsmc + .lbl:hover::before {
  border-color: #ff893c;
}
input[type=checkbox].zsmc:active + .lbl::before,
input[type=radio].zsmc:active + .lbl::before,
input[type=checkbox].zsmc:checked:active + .lbl::before,
input[type=radio].zsmc:checked:active + .lbl::before {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
input[type=checkbox].zsmc.zsmc-checkbox-2 + .lbl::before,
input[type=radio].zsmc.zsmc-checkbox-2 + .lbl::before {
  box-shadow: none;
}
input[type=checkbox].zsmc.zsmc-checkbox-2:checked + .lbl::before,
input[type=radio].zsmc.zsmc-checkbox-2:checked + .lbl::before {
  background-color: #f9a021;
  border-color: #f9a021;
  color: #FFF;
}
input[type=checkbox].zsmc:disabled + .lbl::before,
input[type=radio].zsmc:disabled + .lbl::before,
input[type=checkbox].zsmc[disabled] + .lbl::before,
input[type=radio].zsmc[disabled] + .lbl::before,
input[type=checkbox].zsmc.disabled + .lbl::before,
input[type=radio].zsmc.disabled + .lbl::before {
  background-color: #DDD !important;
  border-color: #CCC !important;
  box-shadow: none !important;
  color: #BBB;
}
.checkbox label input[type=checkbox].zsmc + .lbl,
.radio label input[type=radio].zsmc + .lbl {
  margin-left: -10px;
}

/*input[type=radio].zsmc @{lbl}::before {
	border-radius:100%;
	font-size: 34px;
	font-family: Helvetica, Arial, "Sans-Serif";
	line-height: 13px;
}*/

input[type=radio].zsmc + .lbl::before {
  border-radius: 100%;
  font-size: 10px;
  font-family: FontAwesome;
  text-shadow: 0 0 1px #32a3ce;
  line-height: 15px;
  height: 17px;
  min-width: 17px;
}
input[type=radio].zsmc:checked + .lbl::before {
  content: "\f111";
}
input[type=checkbox].zsmc.input-lg + .lbl::before {
  border-radius: 4px;
  font-size: 16px;
  height: 24px;
  line-height: 21px;
  min-width: 24px;
  top: auto;
}
input[type=radio].zsmc.input-lg + .lbl::before {
  font-size: 14px;
  height: 24px;
  line-height: 22px;
  min-width: 24px;
  top: auto;
}













































input[type=checkbox].zsmc.zsmc-switch {
  width: 55px;
  height: 25px;
}
input[type=checkbox].zsmc.zsmc-switch + .lbl {
  margin: 0 4px;
  min-height: 24px;
}
input[type=checkbox].zsmc.zsmc-switch + .lbl::before {
  font-family: 'Open Sans';
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  color: #999;
  text-shadow: 0 0 0 #999;
  font-weight: normal;
  font-size: 11px;
  line-height: 17px;
  height: 20px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #F5F5F5;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #CCC;
  text-align: left;
  float: left;
  padding: 0;
  width: 52px;
  text-indent: -21px;
  margin-right: 0;
  -webkit-transition: text-indent .3s ease;
  -o-transition: text-indent .3s ease;
  transition: text-indent .3s ease;
  top: auto;
}
input[type=checkbox].zsmc.zsmc-switch + .lbl::after {
  font-family: 'Open Sans';
  content: 'III';
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0;
  color: #AAA;
  text-shadow: none;
  background-color: #FFF;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  position: absolute;
  top: -2px;
  left: -3px;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
  -webkit-transition: left .3s ease;
  -o-transition: left .3s ease;
  transition: left .3s ease;
}
input[type=checkbox].zsmc.zsmc-switch:checked + .lbl::before {
  text-indent: 8px;
  color: #FFF;
  text-shadow: 0 0 0 #FFF;
  background-color: #8ab2c9;
  border-color: #6a8ca8;
}
input[type=checkbox].zsmc.zsmc-switch:checked + .lbl::after {
  left: 34px;
  background-color: #FFF;
  color: #98A0A5;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-2 + .lbl::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0NO";
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-3 + .lbl::after {
  font-family: FontAwesome;
  font-size: 13px;
  line-height: 22px;
  content: "\f00d";
  top: -1px;
  text-shadow: none;
  padding: 0;
  text-align: center;
  color: #BBB;
  letter-spacing: 0;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-3:checked + .lbl::after {
  content: "\f00c";
  color: #8AB2C9;
  text-shadow: none;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5 {
  width: 60px;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4 + .lbl::before,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5 + .lbl::before {
  content: "ON\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0OFF";
  font-size: 12px;
  line-height: 21px;
  height: 24px;
  overflow: hidden;
  border-radius: 12px;
  background-color: #8b9aa3;
  border: 1px solid #8b9aa3;
  color: #FFF;
  width: 56px;
  text-indent: -25px;
  text-shadow: 0 0 0 #FFF;
  display: inline-block;
  position: relative;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4 + .lbl::after,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5 + .lbl::after {
  content: 'III';
  font-size: 11px;
  position: absolute;
  top: 2px;
  left: 2px;
  letter-spacing: 0;
  width: 20px;
  height: 20px;
  line-height: 19px;
  text-shadow: none !important;
  color: #939393;
  background-color: #FFF;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4:checked + .lbl::before,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5:checked + .lbl::before {
  text-indent: 9px;
  background-color: #468fcc;
  border-color: #468FCC;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4:checked + .lbl::after,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5:checked + .lbl::after {
  left: 34px;
  background-color: #FFF;
  color: #848484;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5 + .lbl::before {
  content: "YES\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0NO";
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5:checked + .lbl::before {
  text-indent: 8px;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-6 + .lbl {
  position: relative;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-6 + .lbl::before {
  font-family: FontAwesome;
  content: "\f00d";
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: none;
  border-width: 0;
  font-weight: lighter;
  font-size: 16px;
  border-radius: 12px;
  display: inline-block;
  background-color: #888;
  color: #F2F2F2;
  width: 52px;
  height: 22px;
  line-height: 21px;
  text-indent: 32px;
  -webkit-transition: background 0.1s ease;
  -o-transition: background 0.1s ease;
  transition: background 0.1s ease;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-6 + .lbl::after {
  content: '';
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 2px;
  left: 3px;
  border-radius: 12px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  width: 18px;
  height: 18px;
  text-align: center;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  -webkit-transition: left 0.2s ease;
  -o-transition: left 0.2s ease;
  transition: left 0.2s ease;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-6:checked + .lbl::before {
  content: "\f00c";
  text-indent: 6px;
  color: #FFF;
  border-color: #b7d3e5;
  background-color: #ff893c;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-6:checked + .lbl::after {
  left: 32px;
  background-color: #FFF;
  border: 4px solid #FFF;
  text-shadow: 0 -1px 0 rgba(0, 200, 0, 0.25);
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7 {
  width: 75px;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7 + .lbl {
  position: relative;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7 + .lbl::before {
  content: "OFF\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0\a0ON";
  font-weight: bolder;
  font-size: 13px;
  line-height: 20px;
  background-color: #FFF;
  border: 2px solid #AAA;
  border-radius: 0;
  box-shadow: none;
  color: #AAA;
  width: 74px;
  height: 26px;
  line-height: 22px;
  overflow: hidden;
  text-indent: 5px;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7 + .lbl::after {
  content: '\f00d';
  font-family: FontAwesome;
  font-size: 16px;
  position: absolute;
  top: 3px;
  left: 39px;
  width: 32px;
  height: 20px;
  line-height: 18px;
  text-align: center;
  padding: 0;
  text-indent: 0;
  background-color: #AAA;
  color: #FFF;
  border-radius: 0;
  box-shadow: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7:checked + .lbl::before {
  color: #468fcc;
  background-color: #FFF;
  text-indent: -28px;
  border-color: #6fb3e0;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-7:checked + .lbl::after {
  left: 3px;
  content: '\f00c';
  background-color: #468fcc;
  color: #FFF;
}
input[type=checkbox].zsmc.zsmc-switch + .lbl[data-lbl]::before {
  content: attr(data-lbl);
}
input[type=checkbox].zsmc.zsmc-switch.btn-empty + .lbl::after {
  content: "";
}
input[type=checkbox].zsmc.zsmc-switch.btn-rotate + .lbl::after {
  content: "\2261";
  line-height: 20px;
  font-size: 17px;
}
input[type=checkbox].zsmc.zsmc-switch-4.btn-rotate + .lbl::after,
input[type=checkbox].zsmc.zsmc-switch-5.btn-rotate + .lbl::after {
  line-height: 17px;
}
input[type=checkbox].zsmc.zsmc-switch.btn-flat + .lbl::before,
input[type=checkbox].zsmc.zsmc-switch.btn-flat + .lbl::after {
  border-radius: 0 !important;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4 + .lbl::before,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5 + .lbl::before {
  text-indent: -24px;
}
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-4:checked + .lbl::before,
input[type=checkbox].zsmc.zsmc-switch.zsmc-switch-5:checked + .lbl::before {
  text-indent: 7px;
}
input.zsmc + .lbl.padding-16::before {
  margin-right: 16px;
}
input.zsmc + .lbl.padding-14::before {
  margin-right: 14px;
}
input.zsmc + .lbl.padding-12::before {
  margin-right: 12px;
}
input.zsmc + .lbl.padding-10::before {
  margin-right: 10px;
}
input.zsmc + .lbl.padding-8::before {
  margin-right: 8px;
}
input.zsmc + .lbl.padding-6::before {
  margin-right: 6px;
}
input.zsmc + .lbl.padding-4::before {
  margin-right: 4px;
}
input.zsmc + .lbl.padding-2::before {
  margin-right: 2px;
}
input.zsmc + .lbl.padding-0::before {
  margin-right: 0px;
}

.zsmc-grid .modal-backdrop {
    z-index: 0;
    opacity: 0.5;
}